{% extends "app/base.html" %}
{% load static %}

{% block banner_slider %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static 'app\images\banner\Banner1.png' %}" class="d-block w-100" alt="Slide 2" height = '280'>
                {% comment %} <div class="carousel-caption d-none d-md-block text-black">
                    <h5>First slide label</h5>
                    <p>Some text for the first slide.</p>
                </div> {% endcomment %}
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'app\images\banner\Banner2.jpg' %}" class="d-block w-100" alt="Slide 2" height = '280'>
                {% comment %} <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some text for the second slide.</p>
                </div> {% endcomment %}
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static 'app\images\banner\Banner3.png' %}" class="d-block w-100" alt="Slide 1" height = '280'>
                {% comment %} <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some text for the third slide.</p>
                </div> {% endcomment %}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock banner_slider %}

{% block main_content %}
<div class="row" style="width: 100%">
    {% for product in products %}
    <div class="col-lg-3 mb-3">
        <img class="thumbnail" src="{{ product.ImageURL }}">
        <div class="box-element product">
        <h6><strong>{{ product.name_product }}</strong></h6>
        <hr>

        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</button>
        <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{product.id}}">Xem</a>
        <h5 style="display: inline-block; float: right"><strong>{{ product.price }} <span style="font-size: 12px;">VND</span></strong></h5>
        <p style="display: inline-block; margin-top: 5px; margin-bottom: 5px; margin-right: 200px;">Hà Nội</p>
        <p style="display: inline-block;">Đã bán: 100</p>
        </div>
    </div>
    {% endfor %}
</div>

</div>
<br /><br /><br /><br />

<script>
document.addEventListener("DOMContentLoaded", function() {
    const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');

    addToCartButtons.forEach(button => {
        button.addEventListener('click', function() {
            const productId = this.getAttribute('data-product');
            const action = this.getAttribute('data-action');

            // Kiểm tra trạng thái đăng nhập ở đây
            const isAuthenticated = "{{ user.is_authenticated }}"; // Sử dụng biến Django để kiểm tra trạng thái đăng nhập

            if (isAuthenticated !== "True") {
                // Nếu người dùng chưa đăng nhập, chuyển hướng đến trang đăng nhập
                window.location.href = "{% url 'login' %}";
            } 
        });
    });
});
</script>

{% endblock main_content %}